<div class="content-container">
    <h3>Edit Ingredient</h3>
    <form class="form-horizontal" name="editIngredientForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="ingredientName" class="col-lg-2 control-label">Ingredient Name</label>
                <div class="col-lg-10">
                    <input class="long" id="ingredientName" type="text"
                           required="required"
                           ng-model="vm.ingredient.name">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientCalories" class="col-lg-2 control-label">Calories</label>
                <div class="col-lg-10">
                    <input class="short" id="ingredientCalories" type="text"
                           required="required"
                           ng-model="vm.ingredient.calories">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientFat" class="col-lg-2 control-label">Fat</label>
                <div class="col-lg-10">
                    <input class="short" id="ingredientFat" type="text"
                           required="required"
                           ng-model="vm.ingredient.fat">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientCarbs" class="col-lg-2 control-label">Carbohydrates</label>
                <div class="col-lg-10">
                    <input class="short" id="ingredientCarbs" type="text"
                           required="required"
                           ng-model="vm.ingredient.carbohydrates">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientProtein" class="col-lg-2 control-label">Protein</label>
                <div class="col-lg-10">
                    <input class="short" id="ingredientProtein" type="text"
                           required="required"
                           ng-model="vm.ingredient.protein">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientPortionSize" class="col-lg-2 control-label">Portion Size</label>
                <div class="col-lg-10">
                    <input class="short" id="ingredientPortionSize" type="text"
                           required="required"
                           ng-model="vm.ingredient.portionSize">
                </div>
            </div>
            <div>
                <label for="measurementSelect" class="col-lg-2 control-label">Measurement Unit</label>
                <select name="measurementSelect" id="measurementSelect"
                        ng-options="option.name for option in vm.measurements track by option.id"
                        ng-model="vm.selectedMeasurement">
                </select>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2 bottom-row">
                    <!--<button class="btn btn-primary" ng-click="vm.register(user, registrationForm)" ng-disabled="registrationForm.$invalid || user.password != user.confirmPassword">Log In</button>-->
                    <button class="btn btn-warning" ng-click="vm.goBack()">Cancel</button>
                    <button class="btn btn-primary" ng-click="vm.saveIngredient()">Save Changes</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>