<div class="nutritional-values-container">
    <div class="calories"><div class="nutrient-label">Calories</div>{{vm.totals.calories | number:0}}</div>
    <div class="fat"><div class="nutrient-label">Fat</div>{{vm.totals.fat | number:1}}</div>
    <div class="carbs"><div class="nutrient-label">Carbohydrates</div>{{vm.totals.carbohydrates | number:1}}</div>
    <div class="protein"><div class="nutrient-label">Protein</div>{{vm.totals.protein | number:1}}</div>
</div>
<!--<div id="totals">-->
    <!--<h4>Totals</h4>-->
    <!--<h5>Calories: </h5>-->
    <!--<h5>Fat: </h5>-->
    <!--<h5>Carbohydrates: </h5>-->
    <!--<h5>Protein: </h5>-->
<!--</div>-->
<div ng-repeat="meal in vm.meals">
    <h3><a href="/meal/{{meal.id}}">{{meal.name}}</a>
        <button class="btn btn-warning"
                ng-click="vm.deleteMeal(meal.id)">Delete Meal
        </button>
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Fat</th>
                <th>Carbs</th>
                <th>Protein</th>
                <!--<th>Serving size</th>-->
                <th>Quantity</th>
                <th>Measuring Unit</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ingredient in meal.ingredients">
                <td><a href="/editingredient/{{ingredient.id}}">{{ingredient.name}}</a></td>
                <td>{{ingredient.calories * (ingredient.ingredientMeals.quantity / ingredient.portionSize) |
                    number:0}}
                </td>
                <td>{{ingredient.fat * (ingredient.ingredientMeals.quantity / ingredient.portionSize) | number:1}}</td>
                <td>{{ingredient.carbohydrates * (ingredient.ingredientMeals.quantity / ingredient.portionSize) |
                    number:1}}
                </td>
                <td>{{ingredient.protein * (ingredient.ingredientMeals.quantity / ingredient.portionSize) | number:1}}
                </td>
                <td>
                    <input ng-form="quantityInput" type="text"
                           value="{{ingredient.ingredientMeals.quantity}}"
                           ng-model="vm.meals[$parent.$index].ingredients[$index].ingredientMeals.quantity"
                           ng-change="vm.calculateSums(meal)">
                </td>
                <td>{{ingredient.measurement.name}}</td>
                <td>
                    <button class="btn btn-primary" ng-show="quantityInput.$dirty"
                            ng-click="vm.addIngredient(meal.id, ingredient, ingredient.ingredientMeals.quantity)">Save
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning"
                            ng-click="vm.deleteIngredientFromMeal(meal.id, ingredient.id)">Delete
                    </button>
                </td>
            </tr>
            <!--<tr ng-repeat="ingredient in meal.ingredients" ng-init="quantity=ingredient.ingredientMeals.quantity">-->
            <!--<td>{{ingredient.name}}</td>-->
            <!--<td>{{ingredient.calories * (quantity / ingredient.portionSize) | number:0}}</td>-->
            <!--<td>{{ingredient.fat * (quantity / ingredient.portionSize) | number:1}}</td>-->
            <!--<td>{{ingredient.carbohydrates * (quantity / ingredient.portionSize) | number:1}}</td>-->
            <!--<td>{{ingredient.protein * (quantity / ingredient.portionSize) | number:1}}</td>-->
            <!--<td><input type="text" value="{{ingredient.portionSize * (quantity / ingredient.portionSize)}}"-->
            <!--ng-model="quantity"></td>-->
            <!--<td>{{ingredient.measurement.name}}</td>-->
            <!--&lt;!&ndash;<td>{{ingredient.portionSize * (quantity / ingredient.portionSize) | number:1}}</td>&ndash;&gt;-->
            <!--</tr>-->
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{meal.sums.calories | number:0}}</td>
                <td>{{meal.sums.fat | number:1}}</td>
                <td>{{meal.sums.carbohydrates | number:1}}</td>
                <td>{{meal.sums.protein | number:1}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>