<div class="content-container">
    <h3><a href="/renamemeal/{{vm.originalMeal.id}}">{{vm.originalMeal.name}}</a></h3>
    <br/>
    <div class="ingredient-adder">
        <input type="text" ng-model="vm.selectedIngredient" placeholder="Add ingredient"
               uib-typeahead="ingredient as ingredient.name for ingredient in vm.getIngredientsByName($viewValue)"
               typeahead-on-select="vm.onSelect($item, $model, $label)">
    </div>
    <br/>
    <div class="screen" ng-show="vm.selectedIngredient.name">
        <div></div>
        <div class="angular-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Calories</th>
                        <th>Fat</th>
                        <th>Carbs</th>
                        <th>Protein</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{vm.selectedIngredient.name}}</td>
                        <td>{{vm.selectedIngredient.calories * (vm.tempQuantity / vm.selectedIngredient.portionSize) |
                            number:0}}
                        </td>
                        <td>{{vm.selectedIngredient.fat * (vm.tempQuantity / vm.selectedIngredient.portionSize) |
                            number:1}}
                        </td>
                        <td>{{vm.selectedIngredient.carbohydrates * (vm.tempQuantity /
                            vm.selectedIngredient.portionSize) |
                            number:1}}
                        </td>
                        <td>{{vm.selectedIngredient.protein * (vm.tempQuantity / vm.selectedIngredient.portionSize) |
                            number:1}}
                        </td>
                        <td><input type="text" ng-model="vm.tempQuantity"> {{vm.selectedIngredient.measurement.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="bottom-row">
                    <!--<button class="btn btn-primary" ng-click="vm.register(user, registrationForm)" ng-disabled="registrationForm.$invalid || user.password != user.confirmPassword">Log In</button>-->
                    <button class="btn btn-warning" ng-click="vm.selectedIngredient = null">Cancel</button>
                    <button class="btn btn-primary"
                            ng-click="vm.addIngredient(vm.selectedIngredient, vm.tempQuantity)">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Calories</th>
                <th>Fat</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Quantity</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ingredient in vm.originalMeal.ingredients">
                <td><a href="/editingredient/{{ingredient.id}}">{{ingredient.name}}</a></td>
                <td>{{ingredient.calories * (ingredient.ingredientMeals.quantity / ingredient.portionSize) |
                    number:0}}
                </td>
                <td>{{ingredient.fat * (ingredient.ingredientMeals.quantity / ingredient.portionSize) | number:1}}</td>
                <td>{{ingredient.carbohydrates * (ingredient.ingredientMeals.quantity / ingredient.portionSize) |
                    number:1}}
                </td>
                <td>{{ingredient.protein * (ingredient.ingredientMeals.quantity / ingredient.portionSize) | number:1}}
                </td>
                <td>
                    <input ng-form="quantityInput" type="text"
                           value="{{ingredient.ingredientMeals.quantity}}"
                           ng-model="vm.originalMeal.ingredients[$index].ingredientMeals.quantity"
                           ng-change="vm.calculateSums(vm.originalMeal)"> {{ingredient.measurement.name}}
                </td>
                <td>
                    <button class="btn btn-warning"
                            ng-click="vm.deleteIngredientFromMeal(ingredient.id)">Delete
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" ng-show="quantityInput.$dirty"
                            ng-click="vm.addIngredient(ingredient, ingredient.ingredientMeals.quantity)">Save
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><em></em>Total</td>
                </td>
                <td><em>{{vm.originalMeal.sums.calories | number:0}}</em></td>
                <td><em>{{vm.originalMeal.sums.fat | number:1}}</em></td>
                <td><em>{{vm.originalMeal.sums.carbohydrates | number:1}}</em></td>
                <td><em>{{vm.originalMeal.sums.protein | number:1}}</em></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div class="bottom-row">
        <button class="btn btn-warning" ng-click="vm.goBack()">Go back</button>
    </div>
</div>