<div>
    <h3>{{vm.meal.name}} <a href="/rename-meal/{{vm.mealId}}">[rename]</a></h3>
    <br />
    <div>
        <input type="text" ng-model="vm.selectedIngredient" placeholder="Add ingredient"
                              uib-typeahead="ingredient as ingredient.name for ingredient in vm.getIngredientsByName($viewValue)"
               typeahead-on-select="vm.onSelect($item, $model, $label)">
    </div>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Protein</th>
            <!--<th>Serving size</th>-->
            <th>Quantity</th>
            <th>Measuring Unit</th>
            <th></th>
        </tr>
        <tr ng-show="vm.selectedIngredient.name">
            <td>{{vm.selectedIngredient.name}}</td>
            <td>{{vm.selectedIngredient.calories * (vm.tempQuantity / vm.selectedIngredient.portionSize) | number:0}}</td>
            <td>{{vm.selectedIngredient.fat * (vm.tempQuantity / vm.selectedIngredient.portionSize) | number:1}}</td>
            <td>{{vm.selectedIngredient.carbohydrates * (vm.tempQuantity / vm.selectedIngredient.portionSize) | number:1}}</td>
            <td>{{vm.selectedIngredient.protein * (vm.tempQuantity / vm.selectedIngredient.portionSize) | number:1}}</td>
            <td><input type="text" ng-model="vm.tempQuantity"></td>
            <td>{{vm.selectedIngredient.measurement.name}}</td>
            <td></td>
            <!--<td>{{ingredient.portionSize * (quantity / ingredient.portionSize) | number:1}}</td>-->
        </tr>
        <tr ng-repeat="ingredient in vm.meal.ingredients" ng-init="quantity=ingredient.ingredientMeals.quantity">
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.calories * (quantity / ingredient.portionSize) | number:0}}</td>
            <td>{{ingredient.fat * (quantity / ingredient.portionSize) | number:1}}</td>
            <td>{{ingredient.carbohydrates * (quantity / ingredient.portionSize) | number:1}}</td>
            <td>{{ingredient.protein * (quantity / ingredient.portionSize) | number:1}}</td>
            <td><input ng-form="quantityInput" type="text" value="{{ingredient.portionSize * (quantity / ingredient.portionSize)}}"
                       ng-model="quantity"></td>
            <td>{{ingredient.measurement.name}}</td>
            <td><button class="btn btn-primary" ng-show="quantityInput.$dirty" ng-click="vm.addIngredient(ingredient, quantity)">Edit</button></td>
            <!--<td>{{ingredient.portionSize * (quantity / ingredient.portionSize) | number:1}}</td>-->
        </tr>
    </table>
</div>