<div class="content-container">
    <h3>Add New Measurement</h3>
    <form class="form-horizontal" name="measurementForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="measurementName" class="col-lg-2 control-label">Measurement Name</label>
                <div class="col-lg-10">
                    <input class="long" id="measurementName" placeholder="measurement name, abbreviated" type="text"
                           required="required"
                           ng-model="vm.measurement.name">
                </div>
            </div>
        </fieldset>
    </form>
    <div class="bottom-row">
        <button class="btn btn-primary" ng-click="vm.addMeasurement()">Add Measurement</button>
        <button class="btn btn-warning" ng-click="vm.goBack()">Cancel</button>
    </div>
</div>