<div class="content-container">
    <h3>Rename Meal</h3>
    <form class="form-horizontal" name="measurementForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="measurementName" class="col-lg-2 control-label">Meal Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="measurementName" placeholder="meal name" type="text"
                           required="required"
                           ng-model="vm.meal.name">
                </div>
            </div>
        </fieldset>
    </form>
    <div class="bottom-row">
        <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="vm.renameMeal()">Rename</button>
    </div>
</div>