<div class="content-container">
    <h3>Rename Meal</h3>
    <form class="form-horizontal" name="renameMealForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="measurementName" class="col-lg-2 control-label">Meal Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="measurementName" placeholder="meal name" type="text"
                           required="required"
                           ng-model="vm.meal.name">
                </div>
            </div>
        </fieldset>
        <div class="bottom-row">
            <button ng-disabled="renameMealForm.$invalid" class="btn btn-primary" ng-click="vm.renameMeal()">Rename
            </button>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            <div class="spinner-container" ng-show="vm.loading">
                <img src="img/spinner.gif" alt="spinner">
            </div>
        </div>
    </form>
</div>