@font-face {
  font-family: 'yanone_kaffeesatzregular';
  src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
  src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
  url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
  url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
  url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
  url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$mainGray: #d9d9d9;
$golden: #dcc08e;
$crimson: #9a1d0d;
$darkerGray: #444343;
$darkerMainGray: #CACACA;
$dropdownBackground: #b7b7b7;
$footerBackground: #b8b8b8;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .container {
    flex: 1;
  }
  .footer {
    min-height: 100px;
    background-color: $footerBackground;
    box-shadow: 0 -1px 1px #b1b1b1;
  }
}

a#logo {
  float: none;
  font-size: 10rem;
  text-transform: uppercase;
  font-family: 'yanone_kaffeesatzregular', sans-serif;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  > .golden {
    color: $golden;
  }
}

.navbar-header {
  float: none;
  > .navbar-brand {
    line-height: normal;
  }
}

.navbar {
  background-color: $mainGray;
  border-radius: 0;
  box-shadow: 0 1px 1px #8a8a8a;
  font-size: 1.8rem;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: $darkerGray;
}

ul.nav li > a {
  font-family: 'league_gothicregular', sans-serif;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $crimson;
}

.top-search-form {
  position: relative;
  input {
    border: 1px inset #fbfbfb;
    background-color: $darkerMainGray;
    /*box-shadow: inset 0 1px 0px #c2c2c2;*/
    color: #2c2c2c;
    font-style: italic;
    &[type="search"]:focus {
      box-shadow: none;
      outline: 0 none;
    }
  }
}

.searchbar {
  border-radius: 0;
  background-color: $darkerMainGray;
  color: $darkerGray;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.top-search-glyph {
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  transform: scaleX(-1);
  color: #9a1d0d;
  position: absolute;
  top: .9rem;
  right: 0.75rem;
}

.dropdown-menu {
  font-size: 1.75rem;
  font-weight: bold;
  background-color: $dropdownBackground;
  border-radius: 0;
  a {
    font-family: 'league_gothicregular', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    background-color: $dropdownBackground;
  }
  > .active > a {
    color: #9a1d0d;
    text-transform: uppercase;
    background-color: $dropdownBackground;
    &:hover {
      color: #9a1d0d;
      text-transform: uppercase;
      background-color: $dropdownBackground;
    }
  }
}

.angular-container {
  margin-top: 0;
}

.nutritional-values-container {
  position: relative;
  z-index: 100;
  background-color: $mainGray;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 100px;
  box-shadow: 0 1px 1px #8a8a8a;
  > div {
    position: relative;
    background-color: white;
    margin: 0 20px;
    flex: 1;
    height: 135px;
    box-shadow: inset 0 0 5px $darkerGray;
    &.calories {
      flex: 1;
    }
    > .nutrient-label {
      position: absolute;
      font-size: 1.8rem;
      padding: 0 5px;
      letter-spacing: .1em;
      top: 0;
      right: 0;
      text-align: right;
      color: white;
      font-family: 'league_gothicregular', sans-serif;
      text-transform: uppercase;
      background-color: $crimson;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    }
    > .nutrient-value {
      margin: 0;
      line-height: 10.2rem;
      position: absolute;
      font-family: 'league_gothicregular', sans-serif;
      font-size: 10rem;
      bottom: 0;
      right: 10px;
      text-align: right;
      color: $golden;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    }
  }
}