@font-face {
  font-family: 'yanone_kaffeesatzregular';
  src: url("../fonts/yanonekaffeesatz-regular-webfont.eot");
  src: url("../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yanonekaffeesatz-regular-webfont.woff2") format("woff2"), url("../fonts/yanonekaffeesatz-regular-webfont.woff") format("woff"), url("../fonts/yanonekaffeesatz-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/droidsans-webfont.eot");
  src: url("../fonts/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidsans-webfont.woff2") format("woff2"), url("../fonts/droidsans-webfont.woff") format("woff"), url("../fonts/droidsans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 7.5pt; }

a {
  color: #9a1d0d;
  text-decoration: none; }
  a:hover {
    color: #9a1d0d;
    text-decoration: underline; }

body {
  font-family: "droid_sansregular", sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #d9d9d9; }
  body .angular-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  body nav {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding-top: 55px;
    width: 90%;
    margin: auto; }
  body .footer {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #b8b8b8;
    box-shadow: 0 -1px 1px #b1b1b1;
    padding-top: 50px;
    padding-bottom: 20px; }
    body .footer p {
      color: #212121;
      font-size: 1.4rem;
      width: 80%;
      margin: auto;
      text-shadow: 0 1px 1px white; }

a#logo {
  float: none;
  font-size: 11.7rem;
  text-transform: uppercase;
  font-family: "yanone_kaffeesatzregular", sans-serif;
  color: white;
  text-shadow: 0 1px 1px black; }
  a#logo > .golden {
    color: #dcc08e; }

.navbar-header {
  float: none; }
  .navbar-header > .navbar-brand {
    line-height: normal; }

.navbar {
  background-color: #d9d9d9;
  border-radius: 0;
  font-size: 2.4rem;
  margin-bottom: 0;
  border: none; }
  .navbar .navbar-toggle {
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 1px solid #CACACA;
    box-shadow: 0 1px 1px black; }
    .navbar .navbar-toggle span.icon-bar {
      background-color: #9a1d0d;
      box-shadow: 0 1px 1px #8a8a8a; }

.navbar-default .navbar-nav > li > a {
  color: #444343; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #9a1d0d; }

ul.nav li > a {
  font-family: 'league_gothicregular', sans-serif;
  text-shadow: 0 1px 1px white;
  text-transform: uppercase; }

.top-search-form {
  position: relative; }
  .top-search-form input {
    border: 1px inset #fbfbfb;
    background-color: #CACACA;
    color: #2c2c2c;
    font-style: italic; }
    .top-search-form input[type="search"]:focus {
      box-shadow: none;
      outline: 0 none; }
      .top-search-form input[type="search"]:focus.searchbar {
        border-radius: 0;
        background-color: #CACACA;
        color: #444343;
        text-shadow: 0 1px 1px white; }
  .top-search-form .top-search-glyph {
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 0 1px 1px white;
    transform: scaleX(-1);
    color: #9a1d0d;
    position: absolute;
    top: 1.4rem;
    right: 0.75rem; }

.dropdown-menu {
  font-size: 1.75rem;
  font-weight: bold;
  background-color: #b7b7b7;
  border-radius: 0;
  overflow: hidden; }
  .dropdown-menu a {
    font-family: 'league_gothicregular', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 1px 1px white;
    background-color: #b7b7b7; }
  .dropdown-menu > .active > a {
    color: #9a1d0d;
    text-transform: uppercase;
    background-color: #b7b7b7; }
    .dropdown-menu > .active > a:hover {
      color: #9a1d0d;
      text-transform: uppercase;
      background-color: #b7b7b7; }

.angular-container {
  font-size: 2rem;
  box-shadow: 3px 3px 5px 0 #8c8787;
  padding-top: 4px;
  padding-bottom: 45px;
  width: 90%;
  background: white url("../img/container-bottom-bg.png") bottom repeat-x;
  margin: 15px auto 30px auto;
  border: 1px solid white; }
  .angular-container .nutritional-values-container {
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .angular-container .nutritional-values-container.sticky {
      top: 0;
      position: fixed;
      z-index: 100;
      width: 89.9%;
      margin-top: 0;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-bottom: 5px solid white;
      border-top: 5px solid white;
      box-shadow: 0 1px 1px #8a8a8a; }
    .angular-container .nutritional-values-container > div {
      overflow: hidden;
      position: relative;
      margin: 0 4px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 135px;
      box-shadow: inset 0 0 5px #444343; }
      .angular-container .nutritional-values-container > div > .nutrient-label {
        position: absolute;
        font-size: 1.8rem;
        padding: 0 5px 0 7px;
        letter-spacing: 0.1em;
        top: 0;
        right: 0;
        text-align: right;
        color: white;
        font-family: "league_gothicregular", sans-serif;
        text-transform: uppercase;
        background-color: #9a1d0d;
        text-shadow: 0 1px 1px black; }
      .angular-container .nutritional-values-container > div > .nutrient-value {
        margin: 0;
        line-height: 10.2rem;
        position: absolute;
        font-family: "league_gothicregular", sans-serif;
        font-size: 10rem;
        bottom: 0;
        right: 10px;
        text-align: right;
        color: #dcc08e;
        text-shadow: 0 1px 1px black; }

.content-container {
  width: 90%;
  margin: 0 auto;
  font-family: "droid_sansregular", sans-serif; }
  .content-container p {
    color: #8c8787; }
  .content-container h3 {
    margin-top: 60px;
    font-family: "league_gothicregular", sans-serif;
    font-size: 3em;
    text-transform: uppercase; }
    .content-container h3 a {
      color: #9a1d0d; }
      .content-container h3 a:hover {
        text-shadow: 0 1px 1px #8a8a8a;
        text-decoration: none; }
  .content-container form {
    margin-top: 40px; }
    .content-container form input {
      background-color: #d9d9d9;
      color: #212121;
      border: 1px inset #fbfbfb;
      text-shadow: 0 1px 1px white;
      text-align: left;
      padding-left: 5px; }
    .content-container form label {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-family: "league_gothicregular", sans-serif; }
  .content-container .bottom-row {
    text-align: center;
    margin-top: 40px;
    position: relative; }
    .content-container .bottom-row .spinner-container {
      padding: 5px;
      line-height: 10px;
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0; }
  .content-container table.table {
    white-space: nowrap;
    width: 100%;
    table-layout: fixed;
    border: none;
    font-family: "droid_sansregular", sans-serif; }
    .content-container table.table th {
      color: #212121;
      font-family: "league_gothicregular", sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      border-top: none;
      border-bottom: 1px dotted #d9d9d9; }
      .content-container table.table th.ingredient-name {
        width: 25%; }
      .content-container table.table th.ingredient-calories {
        width: 10%; }
      .content-container table.table th.ingredient-fat {
        width: 10%; }
      .content-container table.table th.ingredient-carbs {
        width: 10%; }
      .content-container table.table th.ingredient-protein {
        width: 10%; }
      .content-container table.table th.ingredient-quantity {
        width: 10%; }
      .content-container table.table th.ingredient-measurement {
        width: 5%; }
      .content-container table.table th.add-ingredient {
        width: 10%; }
      .content-container table.table th.with-hidden-button {
        width: 10%; }
    .content-container table.table tr {
      width: auto;
      border-top: none;
      border-bottom: none; }
    .content-container table.table tfoot tr td {
      border-top: 1px dotted #d9d9d9;
      color: #8c8787; }
      .content-container table.table tfoot tr td:first-child {
        text-align: left; }
    .content-container table.table td {
      color: #212121;
      border: none;
      text-align: center; }
      .content-container table.table td.ingredient-name {
        text-align: left;
        text-transform: capitalize;
        width: 25%; }
      .content-container table.table td.ingredient-calories {
        width: 10%; }
      .content-container table.table td.ingredient-fat {
        width: 10%; }
      .content-container table.table td.ingredient-carbs {
        width: 10%; }
      .content-container table.table td.ingredient-protein {
        width: 10%; }
      .content-container table.table td.ingredient-quantity {
        padding-right: 0;
        text-align: right;
        width: 10%; }
      .content-container table.table td.ingredient-measurement {
        padding-left: 0.2rem;
        vertical-align: baseline;
        line-height: 4rem;
        font-size: 1.6rem;
        color: #8c8787;
        text-align: left; }
      .content-container table.table td.add-ingredient {
        width: 10%; }
      .content-container table.table td.with-hidden-button {
        width: 10%; }
  .content-container a {
    color: #9a1d0d;
    text-shadow: 0 1px 1px #8a8a8a; }
    .content-container a:hover {
      color: #9a1d0d; }
  .content-container input {
    width: 100%;
    background-color: #d9d9d9;
    color: #212121;
    border: 1px inset #fbfbfb;
    text-shadow: 0 1px 1px white;
    text-align: right;
    padding: 0 0.75rem 0 0; }
    .content-container input:focus {
      background-color: #dcc08e; }
  .content-container .measurement-cell {
    text-align: left;
    min-width: 100px; }

button.btn {
  font-family: "league_gothicregular", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
  font-size: 2.2rem;
  padding: 2px 15px;
  border-radius: 5px;
  text-shadow: 0 1px 1px black;
  text-transform: uppercase;
  box-shadow: 0 1px 1px black; }
  button.btn:hover {
    background-color: #9a1d0d; }

button.btn-warning {
  background-color: #b8b8b8;
  border: none; }

button.btn-primary {
  background-color: #dcc08e;
  border: none; }

.ingredient-adder input {
  width: 40%;
  background-color: #d9d9d9;
  color: #212121;
  border: 1px inset #fbfbfb;
  text-shadow: 0 1px 1px white;
  padding: 0 0 0 5px;
  text-align: left; }
  .ingredient-adder input:focus {
    background-color: #dcc08e; }

.notfound i {
  color: #9a1d0d; }

.screen {
  background: url("../img/screen_bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .screen div {
    opacity: 1;
    flex: 1; }
  .screen .angular-container {
    width: 80%; }
    .screen .angular-container table.table {
      width: 90%;
      border: none;
      margin: auto; }
      .screen .angular-container table.table th {
        color: #212121;
        font-family: "league_gothicregular", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        border-top: none;
        border-bottom: 1px dotted #d9d9d9; }
      .screen .angular-container table.table tr {
        border-top: none;
        border-bottom: none; }
      .screen .angular-container table.table tfoot tr td {
        border-top: 1px dotted #d9d9d9; }
      .screen .angular-container table.table td {
        color: #212121;
        border: none; }
      .screen .angular-container table.table td:not(:first-child) {
        color: #8c8787;
        text-align: center;
        width: 11rem; }

/*# sourceMappingURL=style-1200-plus.css.map */
