@font-face {
  font-family: 'yanone_kaffeesatzregular';
  src: url("../fonts/yanonekaffeesatz-regular-webfont.eot");
  src: url("../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yanonekaffeesatz-regular-webfont.woff2") format("woff2"), url("../fonts/yanonekaffeesatz-regular-webfont.woff") format("woff"), url("../fonts/yanonekaffeesatz-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/droidsans-webfont.eot");
  src: url("../fonts/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidsans-webfont.woff2") format("woff2"), url("../fonts/droidsans-webfont.woff") format("woff"), url("../fonts/droidsans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 7.5pt; }

a {
  color: #9a1d0d;
  text-decoration: none; }
  a:hover {
    color: #9a1d0d;
    text-decoration: underline; }

body {
  font-family: "droid_sansregular", sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #d9d9d9; }
  body .angular-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  body nav {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding-top: 10px;
    width: 90%;
    margin: auto; }
  body .footer {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #b8b8b8;
    box-shadow: 0 -1px 1px #b1b1b1;
    padding-top: 50px;
    padding-bottom: 20px; }
    body .footer p {
      color: #212121;
      font-size: 1.4rem;
      width: 80%;
      margin: auto;
      text-shadow: 0 1px 1px white; }

a#logo {
  line-height: 3rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "yanone_kaffeesatzregular", sans-serif;
  color: white;
  text-shadow: 0 1px 1px black; }
  a#logo > .golden {
    color: #dcc08e; }

.navbar-header {
  float: none; }
  .navbar-header > .navbar-brand {
    line-height: normal; }

.navbar {
  background-color: #d9d9d9;
  border-radius: 0;
  font-size: 2.4rem;
  margin-bottom: 0;
  border: none; }
  .navbar .navbar-toggle {
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 1px solid #CACACA;
    box-shadow: 0 1px 1px black; }
    .navbar .navbar-toggle span.icon-bar {
      background-color: #9a1d0d;
      box-shadow: 0 1px 1px #8a8a8a; }

.navbar-default .navbar-nav > li > a {
  color: #444343; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #9a1d0d; }

ul.nav li > a {
  font-family: 'league_gothicregular', sans-serif;
  text-shadow: 0 1px 1px white;
  text-transform: uppercase; }

.top-search-form {
  position: relative; }
  .top-search-form input {
    border: 1px inset #fbfbfb;
    background-color: #CACACA;
    color: #2c2c2c;
    font-style: italic; }
    .top-search-form input[type="search"]:focus {
      box-shadow: none;
      outline: 0 none; }
      .top-search-form input[type="search"]:focus.searchbar {
        border-radius: 0;
        background-color: #CACACA;
        color: #444343;
        text-shadow: 0 1px 1px white; }
  .top-search-form .top-search-glyph {
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 0 1px 1px white;
    transform: scaleX(-1);
    color: #9a1d0d;
    position: absolute;
    top: 1.4rem;
    right: 0.75rem; }

.dropdown-menu {
  font-size: 1.75rem;
  font-weight: bold;
  background-color: #b7b7b7;
  border-radius: 0;
  overflow: hidden; }
  .dropdown-menu a {
    font-family: 'league_gothicregular', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 1px 1px white;
    background-color: #b7b7b7; }
  .dropdown-menu > .active > a {
    color: #9a1d0d;
    text-transform: uppercase;
    background-color: #b7b7b7; }
    .dropdown-menu > .active > a:hover {
      color: #9a1d0d;
      text-transform: uppercase;
      background-color: #b7b7b7; }

.angular-container {
  font-size: 1.5rem;
  box-shadow: 3px 3px 5px 0 #8c8787;
  padding-top: 4px;
  padding-bottom: 45px;
  width: 90%;
  background: white url("../img/container-bottom-bg.png") bottom repeat-x;
  margin: 10px auto;
  border: 1px solid white; }
  .angular-container .nutritional-values-container {
    border: none;
    margin-top: 0;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .angular-container .nutritional-values-container.sticky {
      top: 0;
      position: fixed;
      z-index: 100;
      width: 89.9%;
      margin-top: 0;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-bottom: 5px solid white;
      border-top: 5px solid white;
      box-shadow: 0 1px 1px #8a8a8a; }
    .angular-container .nutritional-values-container > div {
      overflow: hidden;
      position: relative;
      margin: 0 4px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 95px;
      box-shadow: inset 0 0 5px #444343; }
      .angular-container .nutritional-values-container > div > .nutrient-label {
        position: absolute;
        font-size: 1.8rem;
        padding: 0 5px 0 7px;
        letter-spacing: 0.1em;
        top: 0;
        right: 0;
        text-align: right;
        color: white;
        font-family: "league_gothicregular", sans-serif;
        text-transform: uppercase;
        background-color: #9a1d0d;
        text-shadow: 0 1px 1px black; }
      .angular-container .nutritional-values-container > div > .nutrient-value {
        margin: 0;
        line-height: 6.2rem;
        position: absolute;
        font-family: "league_gothicregular", sans-serif;
        font-size: 6rem;
        bottom: 0;
        right: 10px;
        text-align: right;
        color: #dcc08e;
        text-shadow: 0 1px 1px black; }

.content-container {
  width: 90%;
  margin: 0 auto;
  font-family: "droid_sansregular", sans-serif; }
  .content-container p {
    color: #8c8787; }
  .content-container h3 {
    margin-top: 60px;
    font-family: "league_gothicregular", sans-serif;
    font-size: 3em;
    text-transform: uppercase; }
    .content-container h3 a {
      color: #9a1d0d; }
      .content-container h3 a:hover {
        text-shadow: 0 1px 1px #8a8a8a;
        text-decoration: none; }
  .content-container form {
    margin-top: 40px; }
    .content-container form input {
      background-color: #d9d9d9;
      color: #212121;
      border: 1px inset #fbfbfb;
      text-shadow: 0 1px 1px white;
      text-align: left;
      padding-left: 5px; }
      .content-container form input.short {
        width: 10rem; }
      .content-container form input.long {
        width: 100%; }
      .content-container form input.medium {
        width: 40%; }
      .content-container form input.md-long {
        width: 80%; }
      .content-container form input:focus {
        background-color: #dcc08e; }
    .content-container form label {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-family: "league_gothicregular", sans-serif; }
  .content-container .bottom-row {
    text-align: center;
    margin-top: 40px; }
  .content-container table.table {
    border: none;
    font-family: "droid_sansregular", sans-serif; }
    .content-container table.table th {
      color: #212121;
      font-family: "league_gothicregular", sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      border-top: none;
      border-bottom: 1px dotted #d9d9d9; }
    .content-container table.table tr {
      border-top: none;
      border-bottom: none; }
    .content-container table.table tfoot tr td {
      border-top: 1px dotted #d9d9d9; }
    .content-container table.table td {
      color: #212121;
      border: none; }
    .content-container table.table td:not(:first-child) {
      color: #8c8787;
      text-align: center; }
    .content-container table.table td:nth-last-child(1) {
      width: 80px; }
    .content-container table.table a {
      color: #9a1d0d;
      text-shadow: 0 1px 1px #8a8a8a; }
      .content-container table.table a:hover {
        color: #9a1d0d; }
    .content-container table.table input {
      padding: 0;
      width: 4rem;
      background-color: #d9d9d9;
      color: #212121;
      border: 1px inset #fbfbfb;
      text-shadow: 0 1px 1px white;
      text-align: center; }
      .content-container table.table input:focus {
        background-color: #dcc08e; }
    .content-container table.table .measurement-cell {
      text-align: center;
      min-width: 100px; }
  .content-container button.btn {
    font-family: "league_gothicregular", sans-serif;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
    font-size: 1.7rem;
    padding: 2px 15px;
    border-radius: 5px;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    box-shadow: 0 1px 1px black; }
    .content-container button.btn:hover {
      background-color: #9a1d0d; }
  .content-container button.btn-warning {
    background-color: #b8b8b8;
    border: none; }
  .content-container button.btn-primary {
    background-color: #dcc08e;
    border: none; }
  .content-container .ingredient-adder input {
    width: 40%;
    background-color: #d9d9d9;
    color: #212121;
    border: 1px inset #fbfbfb;
    text-shadow: 0 1px 1px white;
    padding: 0 0 0 5px;
    text-align: left; }
    .content-container .ingredient-adder input:focus {
      background-color: #dcc08e; }
  .content-container .notfound {
    color: #9a1d0d; }
  .content-container .screen {
    background: url("../img/screen_bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; }
    .content-container .screen div {
      opacity: 1;
      flex: 1; }
    .content-container .screen .angular-container {
      width: 80%; }
      .content-container .screen .angular-container table.table {
        width: 90%;
        border: none;
        margin: auto; }
        .content-container .screen .angular-container table.table th {
          color: #212121;
          font-family: "league_gothicregular", sans-serif;
          font-size: 2rem;
          text-transform: uppercase;
          text-align: center;
          border-top: none;
          border-bottom: 1px dotted #d9d9d9; }
        .content-container .screen .angular-container table.table tr {
          border-top: none;
          border-bottom: none; }
        .content-container .screen .angular-container table.table tfoot tr td {
          border-top: 1px dotted #d9d9d9; }
        .content-container .screen .angular-container table.table td {
          color: #212121;
          border: none; }
        .content-container .screen .angular-container table.table td:not(:first-child) {
          color: #8c8787;
          text-align: center;
          width: 11rem; }

/*# sourceMappingURL=style-767.css.map */
